body {
    background-color: rgb(60, 124, 60);
}

#header {
    width: 100%;
    height: fit-content;
}

#fullname {
    width: 30%;
}

#submit-btn {
  display: inline-block;
  width: 230px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  border-radius: 10;
  margin-left: 10px;
}
